<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet" type="text/css" >
    
    <title>GT Recipes</title>
  </head>
  <body id="recIndex" class="mainejs">
      <h1 class="primaryHeading">Recipes</h1>
    <header class="otherContent">
      <nav>
        <ul class="navUl">
          <li>
              <!-- Mike - when you are looking at this - I want a btn that goes
              back to your group page that the list and recipe is in -->
              <a href="/groups"><button>Back to<br>Get Togethers</button></a>
          </li>
          <li>
            <a href="/recipes/new"><button>Create a New Recipe</button></a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="mainContent" id="recIMain">
        <ul>
          <% for(let i = 0; i < recipes.length; i++){ %>
          <li>
            <a href="/recipes/<%=recipes[i]._id%>"><%=recipes[i].title%></a>
              <form action="/recipes/<%=recipes[i].id%>?_method=DELETE" method="POST">
                <button>Delete Recipe</button>
              </form>            
          </li>
         <% } %>
        </ul>
    </main>
    <footer class="ejsFooter">
        <p>Get Together 2019 ® </p>
    </footer>
  </body>
</html>
